$primaryCl:#000000;
$titleCl:#363738;
$textCl:#6B6B6C;
$secondaryCl: #ffffff;
$bgSectionCl: #0B7572; 
$linkCl: #FFCE50;
$bggoldCl: #FF9619;
$borderCl:#D7D7DD;
$boxShadow:#0000001F;
$lineCl:#D7D7DD;
$bgcollor:#F9F9FB;